{%- liquid
  assign per_row = section.settings.per_row
  assign grid_item_width = 'small--one-half medium-up--one-third'

  case per_row
    when 1
      assign grid_item_width = ''
    when 2
      assign grid_item_width = 'medium-up--one-half'
    when 3
      assign grid_item_width = 'small--one-half medium-up--one-third'
    when 4
      assign grid_item_width = 'small--one-half medium-up--one-quarter'

  endcase
-%}

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div id="FeaturedProducts-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="featured-products">
  {%- if section.settings.title != blank -%}
    <div class="page-width">
      <div class="section-header">
        <h2 class="section-header__title">
          {{ section.settings.title }}
          {% if section.settings.view_store %}
              <a href="/pages/retail-store" class="section-header__link">View Store</a>
          {% endif %}
        </h2>
      </div>
    </div>
  {% endif %}

  <div class="page-width page-width--flush-small">
    <div class="grid-overflow-wrapper">
      <div class="grid grid--uniform" data-aos="overflow__animation">

        
        {% for i in (1..4) %}
          {% assign type_key = 'slot_' | append: i | append: '_type' %}
          {% assign product_key = 'slot_' | append: i | append: '_product' %}
          {% assign collection_key = 'slot_' | append: i | append: '_collection' %}

          {% if section.settings[type_key] == 'product' and section.settings[product_key] %}
            {% assign product = all_products[section.settings[product_key]] %}
            {% if product %}
              {%- render 'product-grid-item',
                product: product,
                collection: null,
                grid_item_width: grid_item_width
                -%}
            {% endif %}

          {% elsif section.settings[type_key] == 'collection' and section.settings[collection_key] %}
            {% assign slot_collection_id = "slot_" | append: i | append: "_collection" %}
            {% assign collection = collections[section.settings[slot_collection_id]] %}
            <script>console.log("collection: {{ collection | json }}");</script>
            {% comment %} {%- assign chosen_products = chosen_products | append: collection.handle | append: ',' -%} {% endcomment %}
            {% if collection and collection.products_count.size > 0 %}
              {% assign product = collection.products.first %}
              {%- render 'product-grid-item',
                product: product,
                collection: collection,
                grid_item_width: grid_item_width,
                per_row: per_row
              -%}
            {% endif %}
          {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "Featured Products",
  "class": "index-section",
  "settings": [
    { "type": "header", "content": "Layout settings" },
{
  "type": "range",
  "id": "per_row",
  "label": "Products per row",
  "default": 4,
  "min": 1,
  "max": 4,
  "step": 1
},
{
  "type": "checkbox",
  "id": "view_store",
  "label": "Show View Store button",
  "default": true
},
{
  "type": "checkbox",
  "id": "divider",
  "label": "Divider",
  "default": false
},
{
  "type": "text",
  "id": "title",
  "label": "Title",
  "default": "Featured Products"
},
{ "type": "header", "content": "Slot 1" },
{
  "type": "select",
  "id": "slot_1_type",
  "label": "Slot 1 type",
  "options": [
    { "value": "product", "label": "Product" },
    { "value": "collection", "label": "Collection (newest product)" }
  ],
  "default": "product"
},
{ "type": "product", "id": "slot_1_product", "label": "Slot 1 product" },
{ "type": "collection", "id": "slot_1_collection", "label": "Slot 1 collection" },

{ "type": "header", "content": "Slot 2" },
{
  "type": "select",
  "id": "slot_2_type",
  "label": "Slot 2 type",
  "options": [
    { "value": "product", "label": "Product" },
    { "value": "collection", "label": "Collection (newest product)" }
  ],
  "default": "product"
},
{ "type": "product", "id": "slot_2_product", "label": "Slot 2 product" },
{ "type": "collection", "id": "slot_2_collection", "label": "Slot 2 collection" },

{ "type": "header", "content": "Slot 3" },
{
  "type": "select",
  "id": "slot_3_type",
  "label": "Slot 3 type",
  "options": [
    { "value": "product", "label": "Product" },
    { "value": "collection", "label": "Collection (newest product)" }
  ],
  "default": "product"
},
{ "type": "product", "id": "slot_3_product", "label": "Slot 3 product" },
{ "type": "collection", "id": "slot_3_collection", "label": "Slot 3 collection" },
{ "type": "header", "content": "Slot 4" },
{
  "type": "select",
  "id": "slot_4_type",
  "label": "Slot 4 type",
  "options": [
    { "value": "product", "label": "Product" },
    { "value": "collection", "label": "Collection (newest product)" }
  ],
  "default": "product"
},
{ "type": "product", "id": "slot_4_product", "label": "Slot 4 product" },
{ "type": "collection", "id": "slot_4_collection", "label": "Slot 4 collection" }
  ],
  "presets": [
    {
      "name": "Featured Products",
      "category": "Custom"
    }
  ]
}
{% endschema %}
