{% style %}
.store-header__link {
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  font-weight: var(--typeHeaderWeight);
  letter-spacing: var(--typeHeaderSpacing);
  line-height: var(--typeHeaderLineHeight);
  position: relative;
  text-decoration: none;
}

.store-header__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background: var(--colorBtnPrimary);
  transition: width 0.3s ease;
}

.store-header__link:hover::after {
  width: 100%;
}
{% endstyle %}

{% liquid 

  assign sticky_header = false
  assign overlay_header = false

  if section.settings.header_sticky
    assign sticky_header = true
  endif

  if template_name == 'index' and section.settings.sticky_index
    assign overlay_header = true
  endif

 %}

<header 
  id="site-header"
  class="site-header"
  data-sticky="{{ sticky_header }}"
>
  <div class="page-width">
    <div>
      {% if linklists[section.settings.menu] and linklists[section.settings.menu].links.size > 0 %}
        <div class="header-layout">
          {% for link in linklists[section.settings.menu].links %}
            <div>
              <a href="{{ link.url }}" class="store-header__link">{{ link.title }}</a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</header>



{% schema %}
{
  "name": "Subheader with Links",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "checkbox",
      "id": "header_sticky",
      "label": "t:sections.header.settings.header_sticky.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "sticky_index",
      "label": "t:sections.header.settings.sticky_index.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Subheader with Links"
    }
  ]
}
{% endschema %}